@font-face {
	font-family: 'bariollight';
	src: url('https://s.okno.rs/font/bariol/bariol-light-webfont.woff2') format('woff2'),
	url('https://s.okno.rs/font/bariol/bariol-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bariolregular';
	src: url('https://s.okno.rs/font/bariol/bariol-regular-webfont.woff2') format('woff2'),
	url('https://s.okno.rs/font/bariol/bariol-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bariolbold';
	src: url('https://s.okno.rs/font/bariol/bariol-bold-webfont.woff2') format('woff2'),
	url('https://s.okno.rs/font/bariol/bariol-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'plan9regular';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
			local('plan9regular '),
			local('plan9regular'),
			url('https://s.okno.rs/font/plan9/plan9.woff2') format('woff2'),
			url('https://s.okno.rs/font/plan9/plan9.woff') format('woff');
}

body {
	font-family: 'bariolregular';
	@apply text-white-default;
}

body{
	/* UI */
	--primary-color: #3080cf;
	--secondary-color: #803080;

	--font-primary: #cfcfcf;
	--font-secondary: #8888888;

	--bg-color: #303030;

	--divider-color: #656565;

	--accent-color: #cf8030;

	/* Buttons */
	--button-primary-bg-color: #3080cf;
	--button-primary-text-color: #cfcfcf;
	--button-secondary-bg-color: #308080;
	--button-secondary-text-color: #cfcfcf;

}
body, html{
	background: var(--bg-color);
}

body {
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
	color: var(--font-primary);
}

h1 {
	font-weight: 300;
	font-size: 55px;
	line-height: 75px;
	letter-spacing: 0.25px;
}

h2{
	font-weight: 500;
	font-size: 34px;
	line-height: 46px;
	letter-spacing: 0.25px;
}

h3{
	font-weight: 500;
	font-size: 22px;
	line-height: 46px;
	letter-spacing: 0.25px;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'plan9regular';
	margin: 0;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.62);
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.font-secondary{
	color: var(--font-secondary);
}
.text-body-1{
	font-family: 'bariollight';
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.44px;
}
.text-body-2{
	font-family: 'bariollight';
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.44px;
}
.text-subtitle-1{
	font-family: 'bariollight';
	font-style: normal;
	font-weight: normal;
	font-size: 8x;
	line-height: 20px;
}
.text-menu{
	font-family: 'plan9regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 24px;
	letter-spacing: 0.44px;
}
.text-nav{
	font-family: 'bariollight';
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.44px;
	color: rgba(255, 255, 255, 0.87);
}
.text-red{
    color: #f72d2d;
}
.text-green{
    color: #31ce31;
}
.shrink{
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 30px;
	overflow: hidden;
}
.outside-link{
	font-family: 'plan9regular';
    color: var(--accent-color);
    cursor: pointer;
}

.outside-link:hover {
    color: var(--primary-color);
}

.outside-link:visited {
    outline: none;
}
@media (min-width: 800px) {
	body{
		font-size: 14px;
	}
	.text-body-1{
		font-size: 14px;
	}
	.text-body-2{
		font-size: 24px;
	}
	.text-subtitle-1{
		font-size: 11px;
	}
}

@media (min-width: 480px) {

}
